= render 'shared/error_messages', user: @user
%main.my-form
  .cotainer
    .row.justify-content-center
      .col-md-8
        .card
          .card-header= t('views.navbar.sign_up')
          .card-body
            = form_with model: @user, url: sign_up_path, local: true, class: 'new-user' do |f|
              .form-group.row
                = f.label t('views.labels.email'), class: 'col-md-4 col-form-label'
                .col-md-8
                  = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control', placeholder: t('views.placeholder.email')
              .form-group.row
                = f.label t('views.labels.password'), class: 'col-md-4 col-form-label'
                .col-md-8
                  = f.password_field :password, autocomplete: 'new-password', class: 'form-control', placeholder: t('views.placeholder.password')
              .form-group.row
                = f.label t('views.labels.confirm_password'), class: 'col-md-4 col-form-label'
                .col-md-8
                  = f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control', placeholder: t('views.placeholder.password')
              .col-md-8.offset-md-4
                = f.submit t('views.navbar.sign_up'), class: 'btn btn-primary'
